@define-color red #ea6962;
@define-color orange #e78a4e;
@define-color yellow #d8a657;
@define-color green #a9b665;
@define-color aqua #89b482;
@define-color blue #7daea3;
@define-color purple #d3869b;
@define-color text #d4be98;
@define-color base #282828;
@define-color bg0 #1d2021;
@define-color bg1 #282828;
@define-color bg2 #32302f;
@define-color bg3 #3c3836;
@define-color bg4 #45403d;
@define-color bg5 #504945;
@define-color grey0 #7c6f64;
@define-color grey1 #928374;
@define-color grey2 #a89984;
