@import url("themes/mocha.css");

* {
  border: none;
  font-family:
    JetBrainsMono Nerd Font,
    Awesome;
  font-size: 18px;
  border-radius: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

window {
  /*font-weight: bold;*/
}

window#waybar {
  background-color: @base;
  color: @text;
}

/*-----module groups----*/
.modules-right {
  margin: 2px 10px 0 0;
}

.modules-right > widget > * {
  margin: 0px 15px;
}

.modules-center {
  margin: 2px 0 0 0;
}

.modules-left {
  margin: 2px 0 0 0;
}

/*-----modules sound-----*/

#pulseaudio {
  color: @red;
}

/*-----modules tray-----*/

/* #tray { */
/*   background-color: @surface0; */
/*   padding: 0px 10px; */
/*   border-radius: 10px; */
/* } */

#tray > * > * {
  margin: 0px 8px;
}

/*-----modules custom-----*/

#custom-logo {
  color: #00BFFF;
  margin: 0px 15px;
}

/*-----modules workspace-----*/

#tags button { min-width: 30px }
#tags button > * { min-width: 0 }

#tags button:nth-child(4),
#tags button:nth-child(7) {
  margin-right: 10px;
}

#tags button.focused {
  color: @teal;
}

#tags button.urgent {
  color: @red;
}

#tags button {
  padding: 0;
  margin: 0;
  color: @surface0;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}


/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
